<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.prodegol"
        version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        >
    <name>Prode Gol</name>

    <description>Prode Gol</description>

    <author email="dev@cordova.apache.org" href="http://cordova.io">Apache Cordova Team</author>

    <icon src="img/favicon.png" />

    <content src="index.html" />
    <access origin="*" />

</widget>
